*{

    font-family: arial;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(30, 90px);
    background-color: rgb(224, 224, 224);

}

header{
background-color: yellow;
 grid-column-start: 2;
 grid-column-end: 6;
 grid-row-start: 1;
 grid-row-end: 7;
 
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr;

}

#gotyoucovered{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(160, 209, 231);
    display: flex;
    align-items: center;
    background-image: url('img/family.png')
    
}

#firsttext{

    padding: 90px;
}


#learnmore{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: tomato;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#jointoday{
background-color: rgb(255, 174, 0);
display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#navbar {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 8;

}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;

    

}

ul {
    list-style-type: none;
   
    
  }




  li a {
    display: block;
    color: #666;
    text-align: center;
    
    text-decoration: none;
  }


#main{
    
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 29;
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

}

#main #yourpersonal{
    background-color:darkgray;
    grid-row-start: 1;
    grid-row-end: 2;

}

#main #aboutus{

    background-color: rgb(252, 152, 22);
    grid-row-start: 2;
    grid-row-end: 3;
}

#main #squares{

    background-color: greenyellow;
    grid-row-start: 3;
    grid-row-end: 4;

    display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr;
}

#main #squares #howitworks{
    background-color: lightblue;

}

#main #squares #sq1{
    background-color: white;
}

#main #squares #sq2{
    background-color: rgb(224, 224, 224);
}

#main #squares #sq3{
    background-color: white;
}

#main #squares #sq4{
    background-color: tomato;
}

#main #squares #sq5{
    background-color: white;
}

#yourpersonal{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer{
    grid-column-start: 2;
    grid-column-end: 6;
    background-color:rgb(71, 71, 71);
    grid-row-start: 29;
    grid-row-end: 30;

    display: grid;


}

#imagefamily{
height: 300px;
}

#img1{
height: 200px;
}

#img2{
height: 200px;
}

#img3{
height: 200px;
}

#testimonials{
    display: flex;
    align-items: center;

    grid-row-start: 1;
    grid-row-end: 2;

}

#whitesquare{
background-color: white;

}